﻿-- MySQL dump 10.13  Distrib 8.0.45, for Linux (x86_64)
--
-- Host: localhost    Database: aegisai
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `ai_call_log`
--

DROP TABLE IF EXISTS `ai_call_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ai_call_log` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '??',
  `user_id` bigint DEFAULT NULL COMMENT '????',
  `data_asset_id` bigint DEFAULT NULL COMMENT '关联数据资产ID',
  `model_id` bigint DEFAULT NULL COMMENT '??ID',
  `model_code` varchar(100) DEFAULT NULL COMMENT '????',
  `provider` varchar(50) DEFAULT NULL COMMENT '???',
  `input_preview` varchar(200) DEFAULT NULL COMMENT '?????????',
  `output_preview` varchar(200) DEFAULT NULL COMMENT '?????????',
  `status` varchar(20) DEFAULT NULL COMMENT 'success/fail',
  `error_msg` varchar(500) DEFAULT NULL COMMENT '????',
  `duration_ms` bigint DEFAULT NULL COMMENT '????',
  `token_usage` int DEFAULT NULL COMMENT 'token ??',
  `ip` varchar(64) DEFAULT NULL COMMENT '???IP',
  `create_time` timestamp NULL DEFAULT CURRENT_TIMESTAMP COMMENT '????',
  PRIMARY KEY (`id`),
  KEY `idx_model_code_date` (`model_code`,`create_time`),
  KEY `idx_user_date` (`user_id`,`create_time`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='AI ??????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ai_call_log`
--

LOCK TABLES `ai_call_log` WRITE;
/*!40000 ALTER TABLE `ai_call_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `ai_call_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ai_model`
--

DROP TABLE IF EXISTS `ai_model`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ai_model` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '??ID',
  `model_name` varchar(100) DEFAULT NULL,
  `model_code` varchar(100) DEFAULT NULL,
  `model_type` varchar(30) DEFAULT NULL,
  `risk_level` varchar(20) DEFAULT NULL COMMENT '??????/?/??',
  `api_url` varchar(255) DEFAULT NULL,
  `api_key` text,
  `provider` varchar(50) DEFAULT NULL,
  `status` varchar(20) DEFAULT NULL,
  `call_limit` int DEFAULT '0',
  `current_calls` int DEFAULT '0',
  `description` varchar(200) DEFAULT NULL COMMENT '??',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '????',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '????',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2028092187896475654 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='AI???';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ai_model`
--

LOCK TABLES `ai_model` WRITE;
/*!40000 ALTER TABLE `ai_model` DISABLE KEYS */;
/*!40000 ALTER TABLE `ai_model` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alert_record`
--

DROP TABLE IF EXISTS `alert_record`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alert_record` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(100) DEFAULT NULL,
  `level` varchar(20) DEFAULT NULL,
  `status` varchar(20) DEFAULT NULL COMMENT 'open/claimed/resolved/archived',
  `assignee_id` bigint DEFAULT NULL,
  `related_log_id` bigint DEFAULT NULL,
  `resolution` text,
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alert_record`
--

LOCK TABLES `alert_record` WRITE;
/*!40000 ALTER TABLE `alert_record` DISABLE KEYS */;
INSERT INTO `alert_record` VALUES (1,'????','?','claimed',2,1,'','2026-02-12 09:00:00','2026-03-07 00:15:32'),(2,'??????','?','claimed',2,2,'????','2026-02-12 10:00:00','2026-03-01 21:09:11'),(3,'?????','?','resolved',2,3,'?????','2026-02-12 11:00:00','2026-03-01 21:09:11');
/*!40000 ALTER TABLE `alert_record` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `approval_request`
--

DROP TABLE IF EXISTS `approval_request`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `approval_request` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '???ID',
  `applicant_id` bigint DEFAULT NULL COMMENT '???ID',
  `asset_id` bigint DEFAULT NULL COMMENT '??ID',
  `reason` varchar(200) DEFAULT NULL COMMENT '????',
  `status` varchar(20) DEFAULT NULL COMMENT '??????/??/???',
  `approver_id` bigint DEFAULT NULL COMMENT '???ID',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '????',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '????',
  PRIMARY KEY (`id`),
  KEY `idx_applicant` (`applicant_id`),
  KEY `idx_asset` (`asset_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='??????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `approval_request`
--

LOCK TABLES `approval_request` WRITE;
/*!40000 ALTER TABLE `approval_request` DISABLE KEYS */;
INSERT INTO `approval_request` VALUES (1,2,1,'??????','???',1,'2026-03-01 21:09:11','2026-03-01 21:09:11'),(2,3,2,'????','??',1,'2026-03-01 21:09:11','2026-03-01 21:09:11'),(3,4,3,'????','??',1,'2026-03-01 21:09:11','2026-03-01 21:09:11');
/*!40000 ALTER TABLE `approval_request` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_log`
--

DROP TABLE IF EXISTS `audit_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_log` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '??ID',
  `user_id` bigint DEFAULT NULL COMMENT '??ID',
  `asset_id` bigint DEFAULT NULL COMMENT '??ID',
  `operation` varchar(50) DEFAULT NULL COMMENT '????',
  `operation_time` datetime DEFAULT NULL COMMENT '????',
  `ip` varchar(50) DEFAULT NULL COMMENT 'IP??',
  `device` varchar(100) DEFAULT NULL COMMENT '????',
  `input_overview` varchar(200) DEFAULT NULL COMMENT '????????',
  `output_overview` varchar(200) DEFAULT NULL COMMENT '????????',
  `result` varchar(20) DEFAULT NULL COMMENT '?????/???',
  `hash` varchar(128) DEFAULT NULL COMMENT '??/??',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '????',
  PRIMARY KEY (`id`),
  KEY `idx_user` (`user_id`),
  KEY `idx_asset` (`asset_id`),
  KEY `idx_time` (`operation_time`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='?????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_log`
--

LOCK TABLES `audit_log` WRITE;
/*!40000 ALTER TABLE `audit_log` DISABLE KEYS */;
INSERT INTO `audit_log` VALUES (1,1,1,'??','2026-02-10 09:00:00','10.0.0.1','Chrome','uid=123','name=?*','??','h1','2026-03-01 21:09:11'),(2,2,2,'??','2026-02-10 10:00:00','10.0.0.2','Chrome','date=2026-02-01','file=pay.csv','??','h2','2026-03-01 21:09:11'),(3,3,3,'????','2026-02-10 11:00:00','10.0.0.3','Edge','kw=??','hits=20','??','h3','2026-03-01 21:09:11');
/*!40000 ALTER TABLE `audit_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `compliance_policy`
--

DROP TABLE IF EXISTS `compliance_policy`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `compliance_policy` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '??ID',
  `name` varchar(100) NOT NULL COMMENT '????',
  `rule_content` text COMMENT '?????JSON/IF-THEN?',
  `scope` varchar(50) DEFAULT NULL COMMENT '???????/????/???',
  `status` tinyint DEFAULT '1' COMMENT '?? 1-?? 0-??',
  `version` int DEFAULT '1' COMMENT '???',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '????',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '????',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='?????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `compliance_policy`
--

LOCK TABLES `compliance_policy` WRITE;
/*!40000 ALTER TABLE `compliance_policy` DISABLE KEYS */;
/*!40000 ALTER TABLE `compliance_policy` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `data_asset`
--

DROP TABLE IF EXISTS `data_asset`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `data_asset` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '????ID',
  `name` varchar(100) NOT NULL COMMENT '????',
  `type` varchar(50) DEFAULT NULL COMMENT '???MySQL/Excel/API??',
  `sensitivity_level` varchar(20) DEFAULT NULL COMMENT '???????/??/??/???',
  `location` varchar(200) DEFAULT NULL COMMENT '????/????',
  `discovery_time` datetime DEFAULT NULL COMMENT '????',
  `owner_id` bigint DEFAULT NULL COMMENT '???ID',
  `lineage` text COMMENT '???????JSON?',
  `description` varchar(200) DEFAULT NULL COMMENT '??',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '????',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '????',
  PRIMARY KEY (`id`),
  KEY `idx_type` (`type`),
  KEY `idx_sensitivity` (`sensitivity_level`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='?????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `data_asset`
--

LOCK TABLES `data_asset` WRITE;
/*!40000 ALTER TABLE `data_asset` DISABLE KEYS */;
/*!40000 ALTER TABLE `data_asset` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `data_share_request`
--

DROP TABLE IF EXISTS `data_share_request`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `data_share_request` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `asset_id` bigint DEFAULT NULL,
  `applicant_id` bigint DEFAULT NULL,
  `collaborators` varchar(200) DEFAULT NULL COMMENT '???ID??',
  `reason` varchar(200) DEFAULT NULL COMMENT '????',
  `status` varchar(20) DEFAULT NULL COMMENT 'pending/approved/rejected',
  `approver_id` bigint DEFAULT NULL,
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='????????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `data_share_request`
--

LOCK TABLES `data_share_request` WRITE;
/*!40000 ALTER TABLE `data_share_request` DISABLE KEYS */;
INSERT INTO `data_share_request` VALUES (1,1,2,'3,4','????','rejected',1,'2026-02-14 09:00:00','2026-03-07 00:11:40'),(2,2,3,'4','????','rejected',1,'2026-02-14 10:00:00','2026-03-07 00:11:43'),(3,3,4,'2','????','approved',1,'2026-02-14 11:00:00','2026-03-07 00:11:45');
/*!40000 ALTER TABLE `data_share_request` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `desensitize_rule`
--

DROP TABLE IF EXISTS `desensitize_rule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `desensitize_rule` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(100) DEFAULT NULL,
  `pattern` varchar(100) DEFAULT NULL,
  `mask` varchar(20) DEFAULT NULL,
  `example` varchar(200) DEFAULT NULL,
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='??????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `desensitize_rule`
--

LOCK TABLES `desensitize_rule` WRITE;
/*!40000 ALTER TABLE `desensitize_rule` DISABLE KEYS */;
INSERT INTO `desensitize_rule` VALUES (1,'???','\\d{11}','*','138****0000','2026-03-01 21:09:13','2026-03-01 21:09:13'),(2,'??','[^@]+@[^@]+','*','u***@example.com','2026-03-01 21:09:13','2026-03-01 21:09:13'),(3,'???','\\d{18}','*','110***********1234','2026-03-01 21:09:13','2026-03-01 21:09:13');
/*!40000 ALTER TABLE `desensitize_rule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `model_call_stat`
--

DROP TABLE IF EXISTS `model_call_stat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `model_call_stat` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `model_id` bigint DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  `date` date DEFAULT NULL,
  `call_count` int DEFAULT '0',
  `total_latency_ms` bigint DEFAULT '0',
  `cost_cents` int DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `idx_model_date` (`model_id`,`date`),
  KEY `idx_user_date` (`user_id`,`date`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='????????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `model_call_stat`
--

LOCK TABLES `model_call_stat` WRITE;
/*!40000 ALTER TABLE `model_call_stat` DISABLE KEYS */;
INSERT INTO `model_call_stat` VALUES (1,1,1,'2026-02-10',120,240000,800),(2,1,2,'2026-02-10',80,160000,500),(3,2,3,'2026-02-10',60,90000,300),(4,3,1,'2026-02-10',40,60000,200);
/*!40000 ALTER TABLE `model_call_stat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permission`
--

DROP TABLE IF EXISTS `permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `permission` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '??ID',
  `name` varchar(50) NOT NULL COMMENT '????',
  `code` varchar(50) NOT NULL COMMENT '????',
  `type` varchar(20) DEFAULT NULL COMMENT '?????/??/???',
  `parent_id` bigint DEFAULT NULL COMMENT '???ID',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '????',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '????',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='???';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permission`
--

LOCK TABLES `permission` WRITE;
/*!40000 ALTER TABLE `permission` DISABLE KEYS */;
INSERT INTO `permission` VALUES (1,'????','ASSET_VIEW','menu',NULL,'2026-03-01 21:09:11','2026-03-01 21:09:11'),(2,'????','ASSET_EDIT','button',NULL,'2026-03-01 21:09:11','2026-03-01 21:09:11'),(3,'????','AUDIT_VIEW','menu',NULL,'2026-03-01 21:09:11','2026-03-01 21:09:11');
/*!40000 ALTER TABLE `permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `risk_event`
--

DROP TABLE IF EXISTS `risk_event`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `risk_event` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '????ID',
  `type` varchar(50) DEFAULT NULL COMMENT '????',
  `level` varchar(20) DEFAULT NULL COMMENT '????',
  `related_log_id` bigint DEFAULT NULL COMMENT '????ID',
  `status` varchar(20) DEFAULT NULL COMMENT '??????/????',
  `handler_id` bigint DEFAULT NULL COMMENT '???ID',
  `process_log` text COMMENT '????',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '????',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '????',
  PRIMARY KEY (`id`),
  KEY `idx_type` (`type`),
  KEY `idx_level` (`level`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='?????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `risk_event`
--

LOCK TABLES `risk_event` WRITE;
/*!40000 ALTER TABLE `risk_event` DISABLE KEYS */;
INSERT INTO `risk_event` VALUES (2,'????','?',2,'???',2,'???','2026-02-11 10:00:00','2026-03-01 21:09:11'),(3,'????','?',3,'???',2,'????','2026-02-11 11:00:00','2026-03-01 21:09:11');
/*!40000 ALTER TABLE `risk_event` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role`
--

DROP TABLE IF EXISTS `role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `role` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '??ID',
  `name` varchar(50) NOT NULL COMMENT '????',
  `code` varchar(50) NOT NULL COMMENT '????',
  `description` varchar(200) DEFAULT NULL COMMENT '??',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '????',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '????',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2028091268882526215 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='???';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role`
--

LOCK TABLES `role` WRITE;
/*!40000 ALTER TABLE `role` DISABLE KEYS */;
INSERT INTO `role` VALUES (2028091268882526210,'???','ADMIN','?????????','2026-03-01 20:53:33','2026-03-01 20:53:33'),(2028091268882526211,'???','ADMIN','?????','2026-03-01 21:09:11','2026-03-01 21:09:11'),(2028091268882526212,'???','SEC','???????','2026-03-01 21:09:11','2026-03-01 21:09:11'),(2028091268882526213,'?????','DATA_ADMIN','??????','2026-03-01 21:09:11','2026-03-01 21:09:11'),(2028091268882526214,'???','AUDIT','??????','2026-03-01 21:09:11','2026-03-01 21:09:11');
/*!40000 ALTER TABLE `role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role_permission`
--

DROP TABLE IF EXISTS `role_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `role_permission` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `role_id` bigint NOT NULL,
  `permission_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_role` (`role_id`),
  KEY `idx_permission` (`permission_id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='??-?????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role_permission`
--

LOCK TABLES `role_permission` WRITE;
/*!40000 ALTER TABLE `role_permission` DISABLE KEYS */;
INSERT INTO `role_permission` VALUES (1,1,1),(2,1,2),(3,1,3),(4,1,4),(5,2,3),(6,2,4),(7,3,1),(8,3,2),(9,4,3);
/*!40000 ALTER TABLE `role_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sensitive_scan_task`
--

DROP TABLE IF EXISTS `sensitive_scan_task`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sensitive_scan_task` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '??ID',
  `source_type` varchar(20) DEFAULT NULL COMMENT '?????file/db',
  `source_path` varchar(200) DEFAULT NULL COMMENT '???????',
  `status` varchar(20) DEFAULT NULL COMMENT '???pending/running/done/failed',
  `sensitive_ratio` decimal(5,2) DEFAULT NULL COMMENT '???????',
  `report_path` varchar(200) DEFAULT NULL COMMENT '??????',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='?????????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sensitive_scan_task`
--

LOCK TABLES `sensitive_scan_task` WRITE;
/*!40000 ALTER TABLE `sensitive_scan_task` DISABLE KEYS */;
INSERT INTO `sensitive_scan_task` VALUES (1,'file','/data/users.xlsx','done',42.50,'/reports/task-1.pdf','2026-02-15 09:00:00','2026-02-15 10:00:00'),(2,'db','user_db.user','running',NULL,NULL,'2026-02-15 11:00:00','2026-02-15 11:05:00'),(3,'file','/data/chat.csv','failed',NULL,NULL,'2026-02-15 12:00:00','2026-02-15 12:10:00');
/*!40000 ALTER TABLE `sensitive_scan_task` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subject_request`
--

DROP TABLE IF EXISTS `subject_request`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subject_request` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint DEFAULT NULL,
  `type` varchar(30) DEFAULT NULL COMMENT 'access/export/delete',
  `status` varchar(20) DEFAULT NULL COMMENT 'pending/processing/done/rejected',
  `comment` varchar(200) DEFAULT NULL COMMENT '??',
  `handler_id` bigint DEFAULT NULL COMMENT '???ID',
  `result` text,
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2028095310606135299 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='??????????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subject_request`
--

LOCK TABLES `subject_request` WRITE;
/*!40000 ALTER TABLE `subject_request` DISABLE KEYS */;
INSERT INTO `subject_request` VALUES (2028092719054745602,NULL,'access','pending','',NULL,NULL,'2026-03-01 20:59:19','2026-03-01 20:59:19'),(2028092719054745603,10,'access','pending','????????',2,'','2026-02-13 09:00:00','2026-03-01 21:09:11'),(2028092719054745604,11,'delete','processing','??????',2,'???','2026-02-13 10:00:00','2026-03-01 21:09:11'),(2028092719054745605,12,'export','done','????',2,'???','2026-02-13 11:00:00','2026-03-01 21:09:11'),(2028095310606135298,NULL,'access','pending','',NULL,NULL,'2026-03-01 21:09:37','2026-03-01 21:09:36');
/*!40000 ALTER TABLE `subject_request` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '??ID',
  `username` varchar(50) NOT NULL COMMENT '???',
  `password` varchar(100) NOT NULL COMMENT '????????',
  `real_name` varchar(50) DEFAULT NULL COMMENT '????',
  `role_id` bigint DEFAULT NULL COMMENT '??ID',
  `department` varchar(50) DEFAULT NULL COMMENT '??',
  `phone` varchar(20) DEFAULT NULL COMMENT '????',
  `email` varchar(100) DEFAULT NULL COMMENT '??',
  `status` tinyint DEFAULT '1' COMMENT '?? 1-?? 0-??',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '????',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '????',
  PRIMARY KEY (`id`),
  KEY `idx_username` (`username`),
  KEY `idx_role` (`role_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2028091269201293319 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='?????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-08  4:40:24

